@import "theme";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
//helpers

//font-weight

.bold-it {
  font-weight: 400;
  font-style: italic;
}
.bold {
  font-weight: 500;
}
.light-it {
  font-weight: 200;
  font-style: italic;
}
.light {
  font-weight: 200;
}

// typography

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
p {
  line-height: 1.4;
  font-weight: 300;
}

.centred {
  text-align: center;
}

//layout

.columns {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

//margins

.m-0 {
  margin: 0 !important;
}
.mr-1 {
  margin-right: 4px !important;
}
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-2 {
  margin-bottom: 8px !important;
}
.mb-4 {
  margin-bottom: 16px !important;
}
.mb-6 {
  margin-bottom: 24px !important;
}
.mb-8 {
  margin-bottom: 32px !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

//width

.w-full {
  width: 100%;
}

//styles

* {
  margin: 0;
  padding: 0;
}

body {
  color: $grey-900;
  font-family: $font-primary;
  background-color: $grey-100;
  font-weight: 300;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  height: 3rem;
  margin: 0 auto;
  background-color: $grey-100;
}

.logo {
  font-weight: 500;
}

.menu-item {
  padding: 1rem;
  color: $grey-900;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  margin-left: 1rem;
}

.menu-item:hover {
  padding: 1rem;
  background-color: $grey-200;
  text-decoration: none;
  cursor: pointer;
}

.hero {
  margin-top: 45vh;
  display: flex;
  align-items: center;
}

.divider-vert {
  height: auto;
  width: 1px;
  margin: 0 0.5rem;
  background-color: $grey-300;
}

.divider-hor {
  width: auto;
  height: 1px;
  margin: 0.5rem auto;
  background-color: $grey-300;
}

.reading-item-type {
  padding: 0.25rem 0.5rem;
  background-color: $grey-800;
  color: $white;
  border-radius: 0.5rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  background-color: $grey-200;
  color: $grey-800;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}
