@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,400;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
$font-primary: "Newsreader", "Bitter", Verdana, serif;
$font-secondary: "Inter", sans-serif;

//Colours
$white: #fff;
$black: #060c0e;

$grey-900: #12242b;
$grey-800: #19323c;
$grey-600: #87969e;
$grey-300: #d1d7da;
$grey-200: #e8edef;
$grey-100: #f2f3f4;

$copper-700: #8a5c56;
$copper-500: #a16f68;

$red-800: #cc2c00;
$red-400: #ff6f47;
$red-300: #ff8360;

$azure-700: #3c7e90;
$azure-500: #448fa3;
